.main {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-areas:
    "sidebarleft topcontent";
}

.sidebarleft {
  grid-area: sidebarleft;
}

.content {
  grid-area: topcontent;
}

.sidebarright {
  grid-area: sidebarright;
}